<body>

<div class="jumbotron">
  <h1 class="display-4">Espaço</h1>
  <p class="lead"><strong> Algo que realmente é interessante se ressaltar sobre o espaço é a sua beleza, que é simplesmente INCRÍVEL.</strong></p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="#texto" role="button">Saiba mais</a>
</div>

<div class="card">
  <div class="card-header">
    Pensamento
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Nós somos feitos de poeira de estrelas.</p>
      <footer class="blockquote-footer"> Carl Sagan <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

<app-header></app-header>
<app-carousel></app-carousel>


<style>
 body {
  background-color:rgb(245, 245, 245) !important;
  color:indigo


  }
  h1{
    color:rgb(33, 8, 146);
    font-size: 50px
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    text-shadow:
        1px -1px 0 #2f5d87,
        2px -2px 0 #2e5a83,
        3px -3px 0 #2d5880;

  }

 h2{
  color:rgb(33, 8, 146);
    font-size: 100px
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    text-shadow:
        1px -1px 0 #2fd87,
        2px -2px 0 #2e5a83,
        3px -3px 0 #2d5880;
 }




  </style>
<h1><strong>Espaço</strong> </h1>
<h2 id = "texto"><strong>O nosso universo é composto de diversas belezas incriveis, que em sua maioria existem em larga escala, mesmo assim podemos encontrar beleza em coisas minuscúlas, o ser humano é um bom exemplo disso.</strong> </h2>



</body>


